.image-up
{
	display: inline-block;
}

.image-down
{
	display: none;
}
.carousel-out:
{
	height: 400px;
	padding-left: 450px;
	margin-left: 250px;
}
.carousel-in
{
	width: 600px;
	height: 300px;
	position: relative;
	float: left;
	margin-left: 30px;
}
.carousel-in img 
{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	margin-top: 170px;
}
.previousIndicator, .nextIndicator
{
cursor: pointer;
float: left;
margin-top: 300px;
}
.previousIndicator
{
	margin-right: 20px;
	margin-left: 200px;
}
.nextIndicator
{
	margin-left: 20px;
}